<div style="background-color:rgb(220, 210, 125);">




<h2>Todos as Entregas</h2>

<h2 >

    <div>
<app-entrega-procura></app-entrega-procura>
</div>
</h2>


<body style="background-color:rgb(184, 176, 104);">
    <div>
    

<ul class="entregas">
    <li *ngFor="let entrega of entregas">
        <a routerLink="/detail/{{entrega.id}}">
            <span class="badge">{{entrega.id}}</span>
            <!--{{entrega.id}}-->
        </a>
        <button type="button" class="delete" title="delete entrega" (click)="delete(entrega)">x</button>
    </li>
</ul>
</div>
</body>

</div>