<!-- <div class="container">
    <div [hidden]="submitted">
      <h1>Criar Armazem</h1>
      <form (ngSubmit)="onSubmit()" #armazemForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Nome é requerido
          </div>
        </div>
  
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="number" class="form-control" id="latitude"
                 [(ngModel)]="model.coordLat" name="latitude">
                 <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Latitude é requerido
          </div>
        </div>
  
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="number" class="form-control" id="longitude"
                 [(ngModel)]="model.coordLon" name="longitude">
                 <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Longitude é requerido
          </div>
        </div>
  
        <button type="submit" class="btn btn-success" [disabled]="!armazemForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newArmazem(); armazemForm.reset()">New Hero</button>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Coordenada Latitude Armazem</div>
        <div class="col-xs-9">{{ model.coordLat }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Coordenada Longitude Armazem</div>
        <div class="col-xs-9">{{ model.coordLon }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
  </div> -->