<div style="background-color:rgb(220, 210, 125);">




<h2>Listar Armazens</h2>

<h2 >

  <div><app-armazem-procura></app-armazem-procura>
  </div>
</h2>

<body style="background-color:rgb(184, 176, 104);">
  <div>
  
<ul class="armazens">
  <li *ngFor="let armazem of armazens">
    <a routerLink="/detail/{{armazem.id}}">
      <span class="badge">{{armazem.id}}</span> {{armazem.designacao}} 
    </a>
    <button type="button" class="delete" title="delete armazem"
      (click)="delete(armazem)">x</button>
  </li>
</ul>

</div>
</body>

</div>