<<<<<<< HEAD
/* .background {
    background-image: url("../../assets/background.jpg");
=======
.background {
    /* background-image: url("../../../assets/background.jpg"); */
>>>>>>> b3afb89528b00890fbd55f10c7d60e1c40b9f55e
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
} */