<h1>{{title}}</h1>
<!-- <div class="navbar is-dark">
  <div class="navbar-brad">
    <a class="navbar-item">
  
      <img src="assets/assets1/skybox/xneg.png">
    </a>
  </div>
</div> -->
<nav>
  <a routerLink="/listarArmazem">Listar Armazem</a>
  <a routerLink="/criarArmazem">Criar Armazem</a>
  <a routerLink="/listarEntrega">Listar Entrega</a>
  <a routerLink="/criarEntrega">Criar Entrega</a>
  <a routerLink="/criarCamião">Criar Camião</a>
  <a routerLink="/listarCamião">Listar Camião</a>
  <a routerLink="/criarPercurso">Criar Percurso</a>
  <a routerLink="/listarPercurso">Listar Percurso</a>
  <a routerLink="/redeViaria">Rede Viaria</a>
</nav>
<router-outlet></router-outlet>